*,
*:after 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    background: #312761;
}

.container 
{
    background-color: #fff;
    width: 50%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}

.timer-display 
{
    position: relative;
    width: 92%;
    background: #fff;
    left: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3a2292;
    font-size: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons 
{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button 
{
    width: 120px;
    height: 45px;
    background-color: #076cbf;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.buttons button:nth-last-child(3) 
{
    background-color: #cb4b0b;
}

.buttons button:nth-last-child(2) 
{
    background-color: #26e6fc;
}

.buttons button:hover 
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.laps 
{
    width: 90%;
    margin: 20px auto 0 auto;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.laps ul 
{
    list-style-type: none;
    padding: 50;
}

.laps li 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0b2223;
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}